# <font color="purple"><h3 align="center">DataFrame Basics Tutorial</h3></font>

## **Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet**

In [26]:
import pandas as pd

weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017','1/7/2017'],
    'temperature': [32,35,28,24,32,31,36],
    'windspeed': [6,7,2,7,4,2,4],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny','Xot']
}
df = pd.DataFrame(weather_data)

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny
6  1/7/2017           36          4    Xot

In [4]:
df.shape # rows, columns = df.shape

(6, 4)

## <font color='blue'>Rows</font>

In [5]:
df.head() # df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [6]:
df.tail() # df.tail(2)

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
df[1:3]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## <font color='blue'>Columns</font>

In [8]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [8]:
df['day']df['event'] = "Sunny"

SyntaxError: invalid syntax (<ipython-input-8-e5b8b637b540>, line 1)

In [10]:
type(df['day'])

pandas.core.series.Series

In [9]:
df[['day','temperature']]

SyntaxError: invalid syntax (<ipython-input-9-d7a135ebb48f>, line 1)

## <font color='blue'>Operations On DataFrame</font>

In [12]:
df['temperature'].max()

35

In [10]:
df[df['temperature']>30]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [14]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

1    1/2/2017
Name: day, dtype: object

In [16]:
df[['day','temperature','windspeed']][df['temperature']>=32] # Kinda doing SQL in pandas

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           35          7
4  1/5/2017           32          4

In [16]:
df['temperature'].std()

3.8297084310253524

In [27]:
df['event'].min() # But mean() won't work since data type is string

'Rain'

In [17]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

**Google pandas series operations to find out list of all operations**
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

## <font color='blue'>set_index</font>

In [35]:
df.loc['1/1/2017']

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [30]:
df.set_index('day', inplace=True)

In [21]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [32]:
df.set_index('temperature')

             windspeed  event
temperature
32                   6   Rain
35                   7  Sunny
28                   2   Snow
24                   7   Snow
32                   4   Rain
31                   2  Sunny
36                   4    Xot

In [33]:
df.loc['1/2/2017']

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [41]:
df.reset_index(inplace=True)
df.head()

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4

In [42]:
df.set_index('event', inplace=True) # this is kind of building a hash map using event as a key
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2
Xot    1/7/2017           36          4

In [39]:
df.loc[32]

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Rain   1/5/2017           32          4